<div class="container">
  <% if @bundles.length > 0 %>
    <h4 class="header"><%= @heading %></h4>
    <% @bundles.each do |bundle| %>
      <%= render partial: 'bundles/card', locals: { bundle: bundle } %>
    <% end %>
  <% else %>
    <span class="italic">
      <%= @is_current ? "You haven't" : "#{@user.username} hasn't" %> authored any maps yet.
    </span>
  <% end %>
</div>
