<div class="container m-b">
  <%= render 'form' %>
</div>
   
<div class="container">
  <%= form_for @bundle, url: song_path(@bundle), method: :delete do |f| %>
    <div class="actions">
      <%= f.submit "Delete This Map", class: 'btn waves-effect waves-light' %>
    </div>
  <% end %>
</div>
