<h2>your bundles:</h2>

<br/>
<% @bundles.each do |bundle| %>
  <div>
    <%= link_to bundle.name, bundle_path(bundle) %>
  </div>
<% end %>

<div>
  <br/>
  <%= link_to 'New Bundle', new_bundle_path %>
</div>
