/*
 *= require_tree .
 *= require_self
 */

@import "materialize/components/color-variables";
@import 'materialize';

html {
  width: 100vw;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  @extend .grey, .darken-4;
  @extend .grey-text, .text-lighten-4;
}

::-webkit-scrollbar {
  display: none;
}

#app {
  position: relative;
  min-height: 100vh;
}

#content {
  padding-bottom: calc(5rem + 6rem);
}

.yield {
  padding-top: 2rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
  padding: 1rem 2rem;
}

footer .link-row {
  text-align: center;
}

footer a {
  text-align: center;
  padding: 0 1rem;
}

input[type="file"] {
  color: rgba(0, 0, 0, 0);
}

input, textarea {
  @extend .grey-text, .text-lighten-4;
}

/* https://www.codeply.com/go/DzPdeMrNFZ/materialize-suffix-input-group-append */
.input-group { display: table; }
.input-group input, .suffix { display: table-cell; }
.suffix { width:1%; }

.bold {
  font-weight: bold;
}

.m-b {
  margin-bottom: 1.5rem;
}

.italic {
  font-style: italic;
}

.nav-wrapper {
  padding-left: 1rem;
}

nav form {
  height: 4.4rem;
}

nav form input[type="search"] + i {
  color: #787878 !important;
}

.nav-wrapper .input-field input[type=search] {
  padding-left: 1rem;
  padding-right: 4rem;
  background: rgba(200, 200, 200, .1);
}

.nav-wrapper .input-field input[type=search]:focus {
  background: rgba(200, 200, 200, .2);
}

ul.dropdown-content {
  background-color: unset;
  left: unset;
  top: unset;
  opacity: unset;
}

.dropdown-content.active {
  display: block;
  @extend .grey, .darken-4;
}

form .actions {
  text-align: right;
}

form[action*="approve"] {
  display: inline;
}

textarea#bundle_description {
  height: 10em;
  outline: 1px solid #cdcdcd;
  overflow: auto;
  margin-top: 0.5em;
}

.bundle-card {
  width: 14rem;
  margin: 1rem;
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.bundle-card > a {
  display: inline-block;
  width: 100%;
}

.bundle-card .card-body {
  width: 100%;
  height: 15rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
}

.thumbnail-preview, .archive-preview {
  height: 6em;
  width: 6em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.thumbnail img {
  max-width: 100%;
}

.pill {
  @extend .blue-grey, .lighten-3;
  @extend .grey-text, .text-darken-4;
  padding: .25rem .5rem;
  border-radius: 4px;
}
